body {
background-color: #e6f2ff;
font-family: Georgia, "Times New Roman", serif;
color: #1a1a1a;
margin: 0;
}


.top-nav {
background-color: #003366;
padding: 15px;
}


.top-nav a {
color: white;
text-decoration: none;
font-weight: bold;
}


.hero {
text-align: center;
padding: 60px 20px;
background-color: #cce6ff;
}


.content-box {
padding: 30px;
margin: 20px;
background-color: white;
border-radius: 8px;
}


.content-box h2 {
color: #003366;
}


img {
width: 200px;
margin: 10px;
}


.footer {
text-align: center;
padding: 40px;
background-color: #003366;
}


.footer a {
color: #ffffff;
font-size: 18px;
}


/* Link hover effect */
a:hover {
color: #add8e6; /* light blue */
}


.footer {
text-align: center;
padding: 40px;
background-color: #003366;
}


.footer a {
color: #ffffff;
font-size: 18px;
}